.images {
    display: grid;
    border-left: 131px;
    border-right: 131px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

img {
    border-radius: 15px;
    height:267.57px;
    width:100%;
    overflow: hidden;
    object-fit: cover;
}