
h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: normal;
    
}

img {
    display: grid;
    border-radius: 15px;
    height:267.57px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
