/*.styles {
    display: grid;
    gap: 3rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin: 0 131px 0 131px;
    place-items: center;
}*/
h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 12px;
    
}

img {
    display: grid;
    border-radius: 15px;
    height:267.57px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
