body {
    background-color: #0B0B0B;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 35px;
    margin-left: 131px;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 12px;
}